<h2>Product Order System</h2>

<h3>{{productName}}</h3>
<p>Price: {{price}}</p>

<img [src]="imageUrl" width="200">

<br><br>

<button (click)="increaseQty()">+</button>
<button (click)="decreaseQty()">-</button>

<p>Quantity: {{quantity}}</p>

<br>

<button [disabled]="!isAvailable" (click)="toogleAvailability()">
  {{ isAvailable ? 'In Stock' : 'Out of Sotck'}}
</button>

<br><br>

<h3>Customer Details</h3>

<input type="text" [(ngModel)]="customerName" placeholder="Enter Name">

<br><br>

<textarea [(ngModel)]="address" placeholder="Enter Address"></textarea>

<br><br>

<h3>Order Summary</h3>

<p>Name: {{customerName}}</p>
<p>Address: {{ address}}</p>
<p>Total Amount: {{getTotal()}}</p>