<div class="container">
  <h2>🧾 Checkout</h2>

  <form>

    <div class="form-group">
      <input placeholder="Full Name" [(ngModel)]="user.name" name="name">
      <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email">
      <input placeholder="Phone" [(ngModel)]="user.phone" name="phone">
    </div>

    <div class="form-group">
      <select [(ngModel)]="user.city" name="city">
        <option>Jaipur</option>
        <option>Delhi</option>
      </select>

      <input type="date" [(ngModel)]="user.date" name="date">
    </div>

    <textarea placeholder="Instructions" [(ngModel)]="user.instructions" name="instructions"></textarea>

    <h3>💳 Payment</h3>

    <label><input type="radio" value="card" [(ngModel)]="user.payment" name="payment"> Card</label>
    <label><input type="radio" value="upi" [(ngModel)]="user.payment" name="payment"> UPI</label>

    <div *ngIf="user.payment === 'card'" class="form-group">
      <input placeholder="Card Number">
      <input placeholder="CVV">
    </div>

    <div *ngIf="user.payment === 'upi'">
      <input placeholder="UPI ID">
    </div>

    <button type="submit" class="checkout-btn">Place Order</button>

  </form>
</div>