.home {
  text-align: center;
  margin-top: 50px;
}

.home h1 {
  font-size: 40px;
}

.home button {
  padding: 12px 20px;
  background: #43a047;
  color: white;
  border: none;
  border-radius: 5px;
}