<div class="container">

  <h2>🎓 Student Dashboard</h2>

  <div *ngFor="let student of students"
       class="card"
       
       [ngClass]="{
         'topper': student.marks >= 90
       }">

    <h3>{{student.name}}</h3>
    <p>Marks: {{student.marks}}</p>

    <!-- Pass / Fail -->
    <p *ngIf="student.marks >= 50; else failBlock"
       [ngStyle]="{ color: 'green' }">
      Status: Pass
    </p>

    <ng-template #failBlock>
      <p [ngStyle]="{ color: 'red' }">
        Status: Fail
      </p>
    </ng-template>

    <!-- Grade System -->
    <div [ngSwitch]="true">

      <p *ngSwitchCase="student.marks >= 90">Grade: A+</p>
      <p *ngSwitchCase="student.marks >= 75">Grade: A</p>
      <p *ngSwitchCase="student.marks >= 60">Grade: B</p>
      <p *ngSwitchCase="student.marks >= 50">Grade: C</p>
      <p *ngSwitchDefault>Grade: F</p>

    </div>

  </div>

</div>