.cart-card {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  margin: 10px 0;
  padding: 15px;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty button {
  border-radius: 50%;
  padding: 5px 10px;
}

.remove {
  background: #ff4b5c;
}

.clear {
  background: #000;
  margin-top: 10px;
}