<h2>Angular Pipes Demo</h2>

<p>{{today | date: 'fullDate'}}</p>

<h2>Order List</h2>
<!-- Async Pipe -->
<div *ngFor="let order of data$ | async">
  <p><b>Order ID:</b>{{order.id}}</p>
  <p><b>Product:</b>{{order.productName}}</p>
  <p><b>Price:</b>{{order.price}}</p>
  <p><b>Status:</b>{{order.status}}</p>

  <hr>

</div>

<!-- KeyValue Pipe -->
<div *ngFor="let order of product | keyvalue" class="card">
  <p [ngStyle]="{fontWeight: 'bold'}">
    {{order.key | uppercase}}
  </p>
  <p [ngClass]="{'highlight': order.key === 'price'}">
    {{order.value}}
  </p>
  <hr>

</div>
<!-- Custom Pipe -->
 <p>{{ product.price | customCurrency}}</p>