<div class="container">
  <h2>🛒 Cart</h2>

  <div *ngFor="let item of cartItems" class="cart-card">

    <h3>{{item.name}}</h3>

    <div class="qty">
      <button (click)="decrease(item)">-</button>
      <span>{{item.qty}}</span>
      <button (click)="increase(item)">+</button>
    </div>

    <p>₹{{item.price * item.qty}}</p>

    <button class="remove" (click)="remove(item)">Remove</button>

  </div>

  <h3>Total: ₹{{getTotal()}}</h3>

  <button class="clear" (click)="clearCart()">Clear Cart</button>
</div>